@{
    ViewData["Title"] = "Restautants";
}

<div class="restaurant d-flex flex-column justify-content-around">
    <div class="text-center m-3 headline align-self-start">
        <h1 class="text-warning p-4 display-4 ">Welcome to my Casual Restaurant</h1>
    </div>
    <div class="introduction m-3 p-3 align-self-end">
        <i class="p-3 text-white ">
        As an upcoming restaurateur, you’re well acquainted with the importance of promoting and marketing your restaurant on all platforms. And as an experienced restaurateur, you are no stranger to the importance of social media and online marketing, which brings in a substantial amount of income for your business.
            <br> 
            This is a demo website which can help the restaurant owners bring their menu to the internet. Please click the following links to try the feature: 
            <br>
            <a asp-area="" asp-controller="Home" asp-action="Menu"> View Menu </a> | 
            <a asp-area="" asp-controller="Home" asp-action="MenuEdit"> Edit Menu </a> | 
            <a asp-controller="Home" asp-area="" asp-action="DishAdd" > Add A Dish </a>
        </i>
    </div>
</div>
